<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<link rel = "stylesheet" href="style.css">
	<title> Register </title>
</head>
<body>
	<header>
		<h1>Register Siswa</h1>
	</header>

	<form action="/add" method="POST">
		<fieldset>
				<h3>Register Siswa</h3>
				<label>ID :</label>
				<input type="text" id="id" name="id" placeholder="1,2,3..." required />
				<br><br>

				<label>Nama :</label>
				<input type="text" id="Nama" name="Nama" required />
				<br><br>

				<label>Password : </label>
				<input type="text" id="Password" name="Password" required />
				<br><br>

				<label>Role : </label>
				<input type="text" id="Role" name="Role" required />
				<br><br>

				<label>Tanggal Lahir :</label>
				<input type="text" id="Tanggal_Lahir" name="Tanggal_Lahir" required />
				<br><br>

				<label>Kelas :</label>
				<input type="text" id="Kelas" name="Kelas" required />
				<br><br>
				
				<label>Alamat :</label>
				<input type="text" id="Alamat" name="Alamat" required />
				<br><br>

				<label>Tempat :</label>
				<input type="text" id="Tempat" name="Tempat" required />
				<br><br>

				<label>No. HP :</label>
				<input type="text" id="No_HP" name="No_HP" required />
				<br><br>

				<label>Nama Ortu :</label>
				<input type="text" id="Nama_Ortu" name="Nama_Ortu" required />
				<br><br>

				<label>No. HP Ortu</label>
				<input type="text" id="No_HP_Ortu" name="No_HP_Ortu" required />
				<br><br>



				<button type ="reset">Reset</button>
				<button type ="submit">Submit</button>
		</fieldset>
	</form>
	</form>
	<footer>
		<hr>
		<h4>Please enter 'http://localhost:3000/close' to close the database connection before closing this window</h4>
	</footer>
</body>
</html>